
label {
    display: block; margin: 10px 0 5px;
}
input {
    padding: 5px; width: 200px; 
}
button {
    padding: 10px 20px; background: #007BFF; color: white; border: none; cursor: pointer; 
}
button:hover { background: #0056b3; }


.mensaje {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
  }